New folder/UART_TX_Synthesis_Hassan_Ehab/Area.rpt
New folder/UART_TX_Synthesis_Hassan_Ehab/Clocks.rpt
New folder/UART_TX_Synthesis_Hassan_Ehab/cons.tcl
New folder/UART_TX_Synthesis_Hassan_Ehab/Constraints.rpt
New folder/UART_TX_Synthesis_Hassan_Ehab/Hold.rpt
New folder/UART_TX_Synthesis_Hassan_Ehab/Power.rpt
New folder/UART_TX_Synthesis_Hassan_Ehab/Setup.rpt
New folder/UART_TX_Synthesis_Hassan_Ehab/Syn_Script.tcl
New folder/UART_TX_Synthesis_Hassan_Ehab/SynLog.log
New folder/UART_TX_Synthesis_Hassan_Ehab/UART_TX_DDC.ddc
New folder/UART_TX_Synthesis_Hassan_Ehab/UART_TX_NETLIST.v
New folder/UART_TX_Synthesis_Hassan_Ehab/UART_TX_SDC.sdc
New folder/UART_TX_Synthesis_Hassan_Ehab/UART_TX_SDF.sdf
New folder/UART_TX_Synthesis_Hassan_Ehab/UART_TX_Synthesis_Hassan_Ehab.zip
TX Block/tx.cr.mti
TX Block/tx.mpf
TX Block/tx.mpf_new
TX Block/work/@_opt1/_data/exempt8ax5sq
TX Block/work/@_opt1/_data/exemptc6jjdw
TX Block/work/@_opt1/_data/exemptcekjm6
TX Block/work/@_opt1/_lib.qdb
TX Block/work/@_opt1/_lib1_0.qdb
TX Block/work/@_opt1/_lib1_0.qpg
TX Block/work/@_opt1/_lib1_0.qtl
TX Block/work/@_opt1/_lib2_0.qdb
TX Block/work/@_opt1/_lib2_0.qpg
TX Block/work/@_opt1/_lib2_0.qtl
TX Block/work/@_opt1/_lib3_0.qdb
TX Block/work/@_opt1/_lib3_0.qpg
TX Block/work/@_opt1/_lib3_0.qtl
TX Block/work/@_opt1/_lib4_0.qdb
TX Block/work/@_opt1/_lib4_0.qpg
TX Block/work/@_opt1/_lib4_0.qtl
TX Block/work/@_opt1/_lib5_0.qdb
TX Block/work/@_opt1/_lib5_0.qpg
TX Block/work/@_opt1/_lib5_0.qtl
TX Block/work/@_opt1/_lib6_0.qdb
TX Block/work/@_opt1/_lib6_0.qpg
TX Block/work/@_opt1/_lib6_0.qtl
TX Block/work/@_opt1/_lib7_0.qdb
TX Block/work/@_opt1/_lib7_0.qpg
TX Block/work/@_opt1/_lib7_0.qtl
TX Block/work/_lib1_17.qdb
TX Block/work/_lib1_17.qpg
TX Block/work/_lib1_17.qtl
TX Block/vsim.wlf
TX Block/work/_info
TX Block/work/_lib.qdb
TX Block/work/_lib1_15.qdb
TX Block/work/_lib1_15.qpg
TX Block/work/_lib1_15.qtl
TX Block/UART_TX.cr.mti
*.mti
*.mpf
TX Block/UART_TX.cr.mti
TX Block/UART_TX.mpf
TX Block/UART_TX.mpf_new
TX Block/work/_info
TX Block/work/_lib.qdb
TX Block/work/_lib1_15.qdb
TX Block/work/_lib1_15.qpg
TX Block/work/_lib1_15.qtl
TX Block/vsim.wlf
TX Block/work/_info
TX Block/work/_lib.qdb
TX Block/work/_lib1_15.qdb
TX Block/work/_lib1_15.qpg
TX Block/work/_lib1_15.qtl
TX Block/vsim.wlf
